* {
    font-family: "Times New Roman",sans-serif;
    margin-left: 48px; margin-right: 48px;
    background-color: #F2EBBC;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 28px;
}

.title_centre {
    text-align: center;
}

p {
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-size: 24px;
}

a {
    margin-left: 0px; margin-right: 0px;
    color:  brown;
}

.list_croche {
    list-style-image: url("images/icons/croche_reduced.png");
    margin-left: 30; margin-right: 10; margin-top: 10px; margin-bottom: 50px; padding: 0;
    text-align: start;
    font-size: 22px;
}

.list_croche_aligned {
        list-style-image: url("images/icons/croche_reduced.png");
        margin-left: 30; margin-right: 10; margin-top: 10px; margin-bottom: 50px; padding: 0;
        text-align: start;
        font-size: 22px;
        list-style-type: disc;
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
        list-style-position: inside;
}

ul li {
    margin-bottom: 20px;
}

.retour_index {
    font-weight: bold;
    text-align: center;
    
}

strong {
    font-weight: bold;
    margin-left: 0px; margin-right: 0px;
}

.carte_ville {
    width: 55%;
    margin-left: 350px;
    transition: transform .1s;
}

.carte_ville:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#carte_hampe_pointe {
    width: 45%;
    margin-left: 620px;
    display: block;
    background-color: black;
    transition: transform .1s;
}

#carte_hampe_pointe:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#carte_regions_centrales {
    width: 60%;
    margin-left:500px
    display: block;
    transition: transform .1s;
}

#carte_regions_centrales:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.comment {
    font-size: 24px;
    font-style: italic;
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 60px;
    background: #d6d6d6;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 50%;
    width: 8px;
    background: #64330a;
    border-radius: 3px;
    z-index: 1;
}

.timeline article {
    position: relative;
    background: #eeeeee;
    width: calc( 50% - 40px );
    padding: 15px;
}

.timeline article + article {
    margin-top: 20px;
}

.timeline article:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: calc( 100% + 26px );
    background: #d6d6d6;
    width: 24px;
    height: 24px;
    border: 6px #346abf solid;
    border-radius: 50%;
    z-index: 2;
}

.timeline article:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 16px solid #eeeeee;
    border-bottom: 20px solid transparent;
}

.timeline article:nth-child(even) {
    margin-left: calc( 50% + 48px );
}

.timeline article:nth-child(even):before {
    left: auto;
    right: calc( 100% + 26px );
}

.timeline article:nth-child(even):after {
    left: auto;
    right: 100%;
    border-left: none;
    border-right: 16px solid #eeeeee;
}